In [3]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np

Until here, we have made the following steps:

**1.** Generate phreatic level values by node into separate file

**2.** Generate phreatic level average per day by node into separate file

Now, is necessary read and concatenate phreatic level average per day by node values
and generate average per day by lot.

We had the phreatic level characterization around of 
25 lots on the Porvenir farm of this way: 

- Lot 2 **named PORVL2** and have the Node 1 and Node 2
     
     - PORVL2N1
     - PORVL2N2
 
 ---
 
- Lot 4 **named PORVL4** and have the Node 1
     
     - PORVL4N1
 
 ---
 
 And so, successively.
 
 ---
 
 The idea is that **PORVL2N1** and **PORVL2N2** now they are only called **PORVL2**
 
 **PORVL4N1** now will be called **PORVL4**, and so, successively.
 
 To perform this, we going to concatenate in one dataframe variable the respective dataframes
 of each lote.

## 1. Concatenating PORVL2N1 and PORVL2N2 average per day values

### 1.1. Reading PORVL2N1 average per day values

In [4]:

phreatic_level_l2n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL2N1_average_per-day.csv')

In [5]:
print(phreatic_level_l2n1_28w_avg_pd.shape)
phreatic_level_l2n1_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL2N1
0  2018-01-12  0.519130
1  2018-01-13  0.138750
2  2018-01-14  0.175417
3  2018-01-15  0.111667
4  2018-01-16  0.291250

### 1.2. Reading PORVL2N2 average per day values

In [6]:
phreatic_level_l2n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL2N2_average_per-day.csv')

In [7]:
print(phreatic_level_l2n2_28w_avg_pd.shape)
phreatic_level_l2n2_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL2N2
0  2018-01-12  0.718696
1  2018-01-13  0.299583
2  2018-01-14  0.168750
3  2018-01-15  0.134167
4  2018-01-16  0.335000

### 1.3. Merging phreatic level averages per day dataframes 

Now, we going to merge the **`phreatic_level_l2n1_28w_avg_pd`** and **`phreatic_level_l2n2_28w_avg_pd`** dataframes

In [8]:

# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l2_28w_avg_pd = pd.merge(phreatic_level_l2n1_28w_avg_pd,phreatic_level_l2n2_28w_avg_pd, how='inner', on='Fecha')

In [9]:
phreatic_level_l2_28w_avg_pd

          Fecha  PORVL2N1  PORVL2N2
0    2018-01-12  0.519130  0.718696
1    2018-01-13  0.138750  0.299583
2    2018-01-14  0.175417  0.168750
3    2018-01-15  0.111667  0.134167
4    2018-01-16  0.291250  0.335000
5    2018-01-17  0.335385  0.524583
6    2018-01-18  0.161250  0.278750
7    2018-01-19  0.176250  0.275417
8    2018-01-20  0.323333  0.460833
9    2018-01-21  0.518333  0.661667
10   2018-01-22  0.582083  0.750833
11   2018-01-23  0.416667  0.793750
12   2018-01-24  0.311250  0.825417
13   2018-01-25  0.518333  0.884167
14   2018-01-26  0.596667  0.928750
15   2018-01-27  0.633333  0.956250
16   2018-01-28  0.664167  0.977083
17   2018-01-29  0.691250  0.995833
18   2018-01-30  0.719167  1.015000
19   2018-01-31  0.740000  1.038333
20   2018-02-01  0.764167  1.059583
21   2018-02-02  0.666667  1.078750
22   2018-02-03  0.635000  1.091667
23   2018-02-04  0.651667  1.103333
24   2018-02-05  0.667917  1.125000
25   2018-02-06  0.684583  1.133889
26   2018-02-07  0.698750  1.390000
27   2018-02-08  0.710833  1.390000
28   2018-02-09  0.721250  1.390000
29   2018-02-10  0.732083  1.390000
..          ...       ...       ...
174  2018-07-05  0.816667  1.050000
175  2018-07-06  0.626667  0.746250
176  2018-07-07  0.754583  0.932083
177  2018-07-08  0.822083  1.061250
178  2018-07-09  0.858333  1.066250
179  2018-07-10  0.453333  0.670833
180  2018-07-11  0.470000  0.563077
181  2018-07-12  0.739583  0.861667
182  2018-07-13  0.803333  0.882917
183  2018-07-14  0.828750  0.911667
184  2018-07-15  0.808750  0.830833
185  2018-07-16  0.635833  0.655417
186  2018-07-17  0.760417  0.837500
187  2018-07-18  0.822500  0.895417
188  2018-07-19  0.836667  0.910833
189  2018-07-20  0.802500  0.883750
190  2018-07-21  0.850833  0.911250
191  2018-07-22  0.851538  0.922857
192  2018-07-23  0.878750  0.939583
193  2018-07-24  0.897917  0.971250
194  2018-07-25  0.892083  0.993333
195  2018-07-26  0.910833  1.096667
196  2018-07-27  0.905000  1.096800
197  2018-07-28  0.897500  0.990417
198  2018-07-29  0.663750  0.735000
199  2018-07-30  0.630417  0.677083
200  2018-07-31  0.609583  0.649583
201  2018-08-01  0.533333  0.560417
202  2018-08-02  0.470833  0.550417
203  2018-08-03  0.713333  0.815417

[204 rows x 3 columns]

### 1.4 Generating average between PORVL2N1 and PORVL2N2 values

In [10]:
phreatic_level_l2_28w_avg_pd['PORVL2_AVERAGE'] = phreatic_level_l2_28w_avg_pd.mean(axis=1)

In [11]:
phreatic_level_l2_28w_avg_pd

          Fecha  PORVL2N1  PORVL2N2  PORVL2_AVERAGE
0    2018-01-12  0.519130  0.718696        0.618913
1    2018-01-13  0.138750  0.299583        0.219167
2    2018-01-14  0.175417  0.168750        0.172083
3    2018-01-15  0.111667  0.134167        0.122917
4    2018-01-16  0.291250  0.335000        0.313125
5    2018-01-17  0.335385  0.524583        0.429984
6    2018-01-18  0.161250  0.278750        0.220000
7    2018-01-19  0.176250  0.275417        0.225833
8    2018-01-20  0.323333  0.460833        0.392083
9    2018-01-21  0.518333  0.661667        0.590000
10   2018-01-22  0.582083  0.750833        0.666458
11   2018-01-23  0.416667  0.793750        0.605208
12   2018-01-24  0.311250  0.825417        0.568333
13   2018-01-25  0.518333  0.884167        0.701250
14   2018-01-26  0.596667  0.928750        0.762708
15   2018-01-27  0.633333  0.956250        0.794792
16   2018-01-28  0.664167  0.977083        0.820625
17   2018-01-29  0.691250  0.995833        0.843542
18   2018-01-30  0.719167  1.015000        0.867083
19   2018-01-31  0.740000  1.038333        0.889167
20   2018-02-01  0.764167  1.059583        0.911875
21   2018-02-02  0.666667  1.078750        0.872708
22   2018-02-03  0.635000  1.091667        0.863333
23   2018-02-04  0.651667  1.103333        0.877500
24   2018-02-05  0.667917  1.125000        0.896458
25   2018-02-06  0.684583  1.133889        0.909236
26   2018-02-07  0.698750  1.390000        1.044375
27   2018-02-08  0.710833  1.390000        1.050417
28   2018-02-09  0.721250  1.390000        1.055625
29   2018-02-10  0.732083  1.390000        1.061042
..          ...       ...       ...             ...
174  2018-07-05  0.816667  1.050000        0.933333
175  2018-07-06  0.626667  0.746250        0.686458
176  2018-07-07  0.754583  0.932083        0.843333
177  2018-07-08  0.822083  1.061250        0.941667
178  2018-07-09  0.858333  1.066250        0.962292
179  2018-07-10  0.453333  0.670833        0.562083
180  2018-07-11  0.470000  0.563077        0.516538
181  2018-07-12  0.739583  0.861667        0.800625
182  2018-07-13  0.803333  0.882917        0.843125
183  2018-07-14  0.828750  0.911667        0.870208
184  2018-07-15  0.808750  0.830833        0.819792
185  2018-07-16  0.635833  0.655417        0.645625
186  2018-07-17  0.760417  0.837500        0.798958
187  2018-07-18  0.822500  0.895417        0.858958
188  2018-07-19  0.836667  0.910833        0.873750
189  2018-07-20  0.802500  0.883750        0.843125
190  2018-07-21  0.850833  0.911250        0.881042
191  2018-07-22  0.851538  0.922857        0.887198
192  2018-07-23  0.878750  0.939583        0.909167
193  2018-07-24  0.897917  0.971250        0.934583
194  2018-07-25  0.892083  0.993333        0.942708
195  2018-07-26  0.910833  1.096667        1.003750
196  2018-07-27  0.905000  1.096800        1.000900
197  2018-07-28  0.897500  0.990417        0.943958
198  2018-07-29  0.663750  0.735000        0.699375
199  2018-07-30  0.630417  0.677083        0.653750
200  2018-07-31  0.609583  0.649583        0.629583
201  2018-08-01  0.533333  0.560417        0.546875
202  2018-08-02  0.470833  0.550417        0.510625
203  2018-08-03  0.713333  0.815417        0.764375

[204 rows x 4 columns]

In [12]:
# Export phreatic_level_l2_28w_avg_pd dataframe 
# Fecha | PORVL2N1 | PORVL2N2 | PORVL2_AVERAGE |
#       |          |          |                |
phreatic_level_l2_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL2N1_N2_average_per-lot.csv', sep=',', header=True, index=False)

In [13]:
phreatic_level_l2_28w_avg_pd_df = phreatic_level_l2_28w_avg_pd[['Fecha','PORVL2_AVERAGE']]

In [14]:
phreatic_level_l2_28w_avg_pd_df.head()

        Fecha  PORVL2_AVERAGE
0  2018-01-12        0.618913
1  2018-01-13        0.219167
2  2018-01-14        0.172083
3  2018-01-15        0.122917
4  2018-01-16        0.313125

In [15]:
# Export phreatic_level_l2_28w_avg_pd_df dataframe 
# Fecha | PORVL2_AVERAGE |
#       |                |
phreatic_level_l2_28w_avg_pd_df.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL2_average_per-day.csv', sep=',', header=True, index=False)

## 2. Turning PORVL4N1, ... , PORVL15N1 average per day values 
## to PORVL4, ... , PORVL15

### 2.1 Reading PORVL4N1 average per day values

In [16]:
phreatic_level_l4n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL4N1_average_per-day.csv')

In [17]:
phreatic_level_l4n1_28w_avg_pd = phreatic_level_l4n1_28w_avg_pd.rename(columns={
    'PORVL4N1':'PORVL4'
})
phreatic_level_l4n1_28w_avg_pd.head()

        Fecha    PORVL4
0  2018-01-12  0.818261
1  2018-01-13  0.532917
2  2018-01-14  0.482083
3  2018-01-15  0.555833
4  2018-01-16  0.764167

In [18]:
# Export phreatic_level_l4n1_28w_avg_pd dataframe 
# Fecha | PORVL4 |  # Only one column one N1
#       |       |
phreatic_level_l4n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL4_average_per-day.csv', sep=',', header=True, index=False)

In [19]:
# Reading PORVL5 average per day values
phreatic_level_l5n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL5N1_average_per-day.csv')
phreatic_level_l5n1_28w_avg_pd = phreatic_level_l5n1_28w_avg_pd.rename(columns={
    'PORVL5N1':'PORVL5'
})
print(phreatic_level_l5n1_28w_avg_pd.head())
# Export phreatic_level_l5n1_28w_avg_pd dataframe 
# Fecha | PORVL5 |  # Only one column one N1
#       |       |
phreatic_level_l5n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL5_average_per-day.csv', sep=',', header=True, index=False)

        Fecha    PORVL5
0  2018-01-12  0.537826
1  2018-01-13  0.292500
2  2018-01-14  0.246667
3  2018-01-15  0.245417
4  2018-01-16  0.427500

In [20]:
# Reading PORVL6 average per day values
phreatic_level_l6n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL6N1_average_per-day.csv')
phreatic_level_l6n1_28w_avg_pd = phreatic_level_l6n1_28w_avg_pd.rename(columns={
    'PORVL6N1':'PORVL6'
})
print(phreatic_level_l6n1_28w_avg_pd.head())
# Export phreatic_level_l5n1_28w_avg_pd dataframe 
# Fecha | PORVL6 |  # Only one column one N1
#       |       |
phreatic_level_l6n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL6_average_per-day.csv', sep=',', header=True, index=False)

        Fecha    PORVL6
0  2018-01-12  0.829130
1  2018-01-13  0.510417
2  2018-01-14  0.488750
3  2018-01-15  0.529167
4  2018-01-16  0.717917

In [21]:
# Reading PORVL7 average per day values
phreatic_level_l7n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL7N1_average_per-day.csv')
phreatic_level_l7n1_28w_avg_pd = phreatic_level_l7n1_28w_avg_pd.rename(columns={
    'PORVL7N1':'PORVL7'
})
print(phreatic_level_l7n1_28w_avg_pd.head())
# Export phreatic_level_l7n1_28w_avg_pd dataframe 
# Fecha | PORVL7 |  # Only one column one N1
#       |       |
phreatic_level_l7n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL7_average_per-day.csv', sep=',', header=True, index=False)

        Fecha    PORVL7
0  2018-01-12  1.043043
1  2018-01-13  0.598333
2  2018-01-14  0.522500
3  2018-01-15  0.495833
4  2018-01-16  0.792917

In [22]:
# Reading PORVL8 average per day values
phreatic_level_l8n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL8N1_average_per-day.csv')
phreatic_level_l8n1_28w_avg_pd = phreatic_level_l8n1_28w_avg_pd.rename(columns={
    'PORVL8N1':'PORVL8'
})
print(phreatic_level_l8n1_28w_avg_pd.head())
# Export phreatic_level_l8n1_28w_avg_pd dataframe 
# Fecha | PORVL8 |  # Only one column one N1
#       |       |
phreatic_level_l8n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL8_average_per-day.csv', sep=',', header=True, index=False)

        Fecha    PORVL8
0  2018-01-12  1.041739
1  2018-01-13  0.738750
2  2018-01-14  0.584167
3  2018-01-15  0.641667
4  2018-01-16  0.929583

In [23]:
# Reading PORVL9 average per day values
phreatic_level_l9n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL9N1_average_per-day.csv')
phreatic_level_l9n1_28w_avg_pd = phreatic_level_l9n1_28w_avg_pd.rename(columns={
    'PORVL9N1':'PORVL9'
})
print(phreatic_level_l9n1_28w_avg_pd.head())
# Export phreatic_level_l9n1_28w_avg_pd dataframe 
# Fecha | PORVL9 |  # Only one column one N1
#       |       |
phreatic_level_l9n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL9_average_per-day.csv', sep=',', header=True, index=False)

        Fecha    PORVL9
0  2018-01-12  1.033043
1  2018-01-13  0.772917
2  2018-01-14  0.725000
3  2018-01-15  0.735000
4  2018-01-16  0.892917

In [24]:
# Reading PORVL10 average per day values
phreatic_level_l10n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL10N1_average_per-day.csv')
phreatic_level_l10n1_28w_avg_pd = phreatic_level_l10n1_28w_avg_pd.rename(columns={
    'PORVL10N1':'PORVL10'
})
print(phreatic_level_l10n1_28w_avg_pd.head())
# Export phreatic_level_l10n1_28w_avg_pd dataframe 
# Fecha | PORVL10 |  # Only one column one N1
#       |       |
phreatic_level_l10n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL10_average_per-day.csv', sep=',', header=True, index=False)

        Fecha   PORVL10
0  2018-01-12  0.949130
1  2018-01-13  0.694583
2  2018-01-14  0.645833
3  2018-01-15  0.692963
4  2018-01-16  0.774000

In [25]:
# Reading PORVL13 average per day values
phreatic_level_l13n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL13N1_average_per-day.csv')
phreatic_level_l13n1_28w_avg_pd = phreatic_level_l13n1_28w_avg_pd.rename(columns={
    'PORVL13N1':'PORVL13'
})
print(phreatic_level_l13n1_28w_avg_pd.head())
# Export phreatic_level_l13n1_28w_avg_pd dataframe 
# Fecha | PORVL13 |  # Only one column one N1
#       |       |
phreatic_level_l13n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL13_average_per-day.csv', sep=',', header=True, index=False)

        Fecha   PORVL13
0  2018-01-12  1.030870
1  2018-01-13  0.669583
2  2018-01-14  0.518750
3  2018-01-15  0.614167
4  2018-01-16  0.798750

In [26]:
# Reading PORVL14 average per day values
phreatic_level_l14n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL14N1_average_per-day.csv')
phreatic_level_l14n1_28w_avg_pd = phreatic_level_l14n1_28w_avg_pd.rename(columns={
    'PORVL14N1':'PORVL14'
})
print(phreatic_level_l14n1_28w_avg_pd.head())
# Export phreatic_level_l14n1_28w_avg_pd dataframe 
# Fecha | PORVL14 |  # Only one column one N1
#       |       |
phreatic_level_l14n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL14_average_per-day.csv', sep=',', header=True, index=False)

        Fecha   PORVL14
0  2018-01-12  1.350435
1  2018-01-13  1.167500
2  2018-01-14  0.786667
3  2018-01-15  0.692000
4  2018-01-16  0.900833

In [27]:
# Reading PORVL15 average per day values
phreatic_level_l15n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL15N1_average_per-day.csv')
phreatic_level_l15n1_28w_avg_pd = phreatic_level_l15n1_28w_avg_pd.rename(columns={
    'PORVL15N1':'PORVL15'
})
print(phreatic_level_l15n1_28w_avg_pd.head())
# Export phreatic_level_l15n1_28w_avg_pd dataframe 
# Fecha | PORVL15 |  # Only one column one N1
#       |       |
phreatic_level_l15n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL15_average_per-day.csv', sep=',', header=True, index=False)

        Fecha   PORVL15
0  2018-01-12  1.082609
1  2018-01-13  0.880000
2  2018-01-14  0.841667
3  2018-01-15  0.842917
4  2018-01-16  0.962500

## 3. Concatenating PORVL16N1 and PORVL16N2 average per day values

### 3.1 Reading PORVL16N1 average per day value

In [28]:
phreatic_level_l16n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL16N1_average_per-day.csv')

In [29]:
print(phreatic_level_l16n1_28w_avg_pd.shape)
phreatic_level_l16n1_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL16N1
0  2018-01-12   0.883913
1  2018-01-13   0.682917
2  2018-01-14   0.607083
3  2018-01-15   0.667917
4  2018-01-16   0.813333

### 3.2 Reading PORVL16N2 average per day value

In [30]:
phreatic_level_l16n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL16N2_average_per-day.csv')

In [31]:
print(phreatic_level_l16n2_28w_avg_pd.shape)
phreatic_level_l16n2_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL16N2
0  2018-01-12   1.545217
1  2018-01-13   1.528750
2  2018-01-14   1.386667
3  2018-01-15   1.228750
4  2018-01-16   1.227083

### 3.3 Merging phreatic level averages per day dataframes

Now, we going to merge the **`phreatic_level_l16n1_28w_avg_pd`** and **`phreatic_level_l16n2_28w_avg_pd`** dataframes

In [32]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l16_28w_avg_pd = pd.merge(phreatic_level_l16n1_28w_avg_pd,phreatic_level_l16n2_28w_avg_pd, how='inner', on='Fecha')

In [33]:
print(phreatic_level_l16_28w_avg_pd.shape)
phreatic_level_l16_28w_avg_pd.head()

(204, 3)

        Fecha  PORVL16N1  PORVL16N2
0  2018-01-12   0.883913   1.545217
1  2018-01-13   0.682917   1.528750
2  2018-01-14   0.607083   1.386667
3  2018-01-15   0.667917   1.228750
4  2018-01-16   0.813333   1.227083

### 3.4 Generating average between PORVL16N1 and PORVL16N2 values

In [34]:
phreatic_level_l16_28w_avg_pd['PORVL16_AVERAGE'] = phreatic_level_l16_28w_avg_pd.mean(axis=1)

In [35]:
phreatic_level_l16_28w_avg_pd.head()

        Fecha  PORVL16N1  PORVL16N2  PORVL16_AVERAGE
0  2018-01-12   0.883913   1.545217         1.214565
1  2018-01-13   0.682917   1.528750         1.105833
2  2018-01-14   0.607083   1.386667         0.996875
3  2018-01-15   0.667917   1.228750         0.948333
4  2018-01-16   0.813333   1.227083         1.020208

In [36]:
# Export phreatic_level_l16_28w_avg_pd dataframe 
# Fecha | PORVL16N1 | PORVL16N2 | PORVL16_AVERAGE |
#       |          |          |                |
phreatic_level_l16_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL16N1_N2_average_per-lot.csv', sep=',', header=True, index=False)

In [37]:
phreatic_level_l16_28w_avg_pd = phreatic_level_l16_28w_avg_pd[['Fecha','PORVL16_AVERAGE']]
phreatic_level_l16_28w_avg_pd.head()

        Fecha  PORVL16_AVERAGE
0  2018-01-12         1.214565
1  2018-01-13         1.105833
2  2018-01-14         0.996875
3  2018-01-15         0.948333
4  2018-01-16         1.020208

In [38]:
# Export phreatic_level_l16_28w_avg_pd dataframe 
# Fecha | PORVL16_AVERAGE |
#       |                |
phreatic_level_l16_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL16_average_per-day.csv', sep=',', header=True, index=False)

## 4. Concatenating PORVL18 Nodes 1,2,3,4 average per day values

### 4.1. Reading PORVL18N1 PORVL18N2, PORVL18N3 and PORVL18N4 average per day values

In [39]:
phreatic_level_l18n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N1_average_per-day.csv')

phreatic_level_l18n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N2_average_per-day.csv')

phreatic_level_l18n3_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N3_average_per-day.csv')

phreatic_level_l18n4_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N4_average_per-day.csv')

### 4.2 Merging phreatic level averages per day dataframes

Now, we going to merge the **`phreatic_level_l18n1_28w_avg_pd`**, 

**`phreatic_level_l18n2_28w_avg_pd`**, **`phreatic_level_l18n3_28w_avg_pd`**

and **`phreatic_level_l18n4_28w_avg_pd`** dataframes

In [40]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l18_28w_avg_pd = pd.merge(phreatic_level_l18n1_28w_avg_pd, phreatic_level_l18n2_28w_avg_pd, phreatic_level_l18n3_28w_avg_pd, phreatic_level_l18n4_28w_avg_pd, how='inner', on='Fecha')

TypeError: merge() got multiple values for argument 'how'

pd.merge can merge only two DataFrames. The third parameter (phreatic_level_l18n3_28w_avg_pd in my case) 
is interpreted as "how." I also supply the named how='outer', and that's why I see the error message. 

Solution to my problem: merge the first two DataFrames, then merge the result with the third and fourth one.

- We merge initally the `phreatic_level_l18n1_28w_avg_pd` and `phreatic_level_l18n1_28w_avg_pd` dataframes

In [56]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l18_n1_n2_28w_avg_pd = pd.merge(phreatic_level_l18n1_28w_avg_pd, phreatic_level_l18n2_28w_avg_pd, how='inner', on='Fecha')

In [57]:
phreatic_level_l18_n1_n2_28w_avg_pd.head()

        Fecha  PORVL18N1  PORVL18N2
0  2018-01-12       1.01   0.803043
1  2018-01-13       1.01   0.397083
2  2018-01-14       1.01   0.290000
3  2018-01-15       1.01   0.379167
4  2018-01-16       1.01   0.582083

- Now, we merge the `phreatic_level_l18n3_28w_avg_pd` and `phreatic_level_l18n4_28w_avg_pd` dataframes

In [58]:
phreatic_level_l18_n3_n4_28w_avg_pd = pd.merge(phreatic_level_l18n3_28w_avg_pd, phreatic_level_l18n4_28w_avg_pd, how='inner', on='Fecha')

In [44]:
phreatic_level_l18_n3_n4_28w_avg_pd.head()

        Fecha  PORVL18N3  PORVL18N4
0  2018-01-12   1.241739   1.032174
1  2018-01-13   0.955833   0.864583
2  2018-01-14   0.659167   0.735417
3  2018-01-15   0.808750   0.828333
4  2018-01-16   0.995417   0.890833

- And then, we merge the `phreatic_level_l18_n1_n2_28w_avg_pd` and `phreatic_level_l18_n3_n4_28w_avg_pd` dataframes to compose the following dataframe

```
# Fecha | PORVL18N1 | PORVL18N2 | PORVL18N3 | PORVL18N4 |
#       |          |          |             |           |
```

In [47]:
phreatic_level_l18_28w_avg_pd = pd.merge(phreatic_level_l18_n1_n2_28w_avg_pd, phreatic_level_l18_n3_n4_28w_avg_pd, how='inner', on='Fecha')

In [48]:
phreatic_level_l18_28w_avg_pd.head()

        Fecha  PORVL18N1  PORVL18N2  PORVL18N3  PORVL18N4
0  2018-01-12       1.01   0.803043   1.241739   1.032174
1  2018-01-13       1.01   0.397083   0.955833   0.864583
2  2018-01-14       1.01   0.290000   0.659167   0.735417
3  2018-01-15       1.01   0.379167   0.808750   0.828333
4  2018-01-16       1.01   0.582083   0.995417   0.890833

### 4.3 Generating average between PORVL18N1, PORVL18N2, PORVL18N3 and PORVL18N4 values

In [49]:
phreatic_level_l18_28w_avg_pd['PORVL18_AVERAGE'] = phreatic_level_l18_28w_avg_pd.mean(axis=1)

In [51]:
phreatic_level_l18_28w_avg_pd.head()

        Fecha  PORVL18N1  PORVL18N2  PORVL18N3  PORVL18N4  PORVL18_AVERAGE
0  2018-01-12       1.01   0.803043   1.241739   1.032174         1.021739
1  2018-01-13       1.01   0.397083   0.955833   0.864583         0.806875
2  2018-01-14       1.01   0.290000   0.659167   0.735417         0.673646
3  2018-01-15       1.01   0.379167   0.808750   0.828333         0.756563
4  2018-01-16       1.01   0.582083   0.995417   0.890833         0.869583

In [52]:
# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL18N1 | PORVL18N2 | PORVL18N3 | PORVL18N4 | PORVL18_AVERAGE |
#       |          |          |             |           |                 |
phreatic_level_l18_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL18N1_N2_N3_N4_average_per-lot.csv', 
                                     sep=',', header=True, index=False)

In [55]:
phreatic_level_l18_28w_avg_pd = phreatic_level_l18_28w_avg_pd[['Fecha', 'PORVL18_AVERAGE']]
print(phreatic_level_l18_28w_avg_pd.head())

# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL18_AVERAGE |
#       |                |
phreatic_level_l18_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL18_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL18_AVERAGE
0  2018-01-12         1.021739
1  2018-01-13         0.806875
2  2018-01-14         0.673646
3  2018-01-15         0.756563
4  2018-01-16         0.869583

## 5. Concatenating PORVL21 Nodes 1,2,3,4,5 average per day values

#### 5.1 Reading PORVL21N1, PORVL21N2, PORVL21N3, PORVL21N4 and PORVL21N5 average per day values

In [66]:
phreatic_level_l21n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N1_average_per-day.csv')

phreatic_level_l21n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N2_average_per-day.csv')

phreatic_level_l21n3_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N3_average_per-day.csv')

phreatic_level_l21n4_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N4_average_per-day.csv')

phreatic_level_l21n5_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N5_average_per-day.csv')

### 5.2 Merging phreatic level averages per day dataframes

- We merge initally the `phreatic_level_l21n1_28w_avg_pd` and `phreatic_level_l21n2_28w_avg_pd` dataframes

In [67]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l21_n1_n2_28w_avg_pd = pd.merge(phreatic_level_l21n1_28w_avg_pd, phreatic_level_l21n2_28w_avg_pd, how='inner', on='Fecha')

In [68]:
phreatic_level_l21_n1_n2_28w_avg_pd.head()

        Fecha  PORVL21N1  PORVL21N2
0  2018-01-12   1.489565   1.079130
1  2018-01-13   1.151250   0.856250
2  2018-01-14   1.022083   0.729583
3  2018-01-15   1.087500   0.824583
4  2018-01-16   1.232083   0.997917

- Now, we merge the `phreatic_level_l21n3_28w_avg_pd` and `phreatic_level_l21n4_28w_avg_pd` dataframes

In [69]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l21_n3_n4_28w_avg_pd = pd.merge(phreatic_level_l21n3_28w_avg_pd, phreatic_level_l21n4_28w_avg_pd, how='inner', on='Fecha')

- Now, we merge the `phreatic_level_l21_n1_n2_28w_avg_pd` with `phreatic_level_l21_n3_n4_28w_avg_pd`

In [70]:
phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd = pd.merge(phreatic_level_l21_n1_n2_28w_avg_pd, phreatic_level_l21_n3_n4_28w_avg_pd, how='inner', on='Fecha')

In [71]:
phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd.head()

        Fecha  PORVL21N1  PORVL21N2  PORVL21N3  PORVL21N4
0  2018-01-12   1.489565   1.079130   0.944783   0.892174
1  2018-01-13   1.151250   0.856250   0.668333   0.581667
2  2018-01-14   1.022083   0.729583   0.520833   0.502500
3  2018-01-15   1.087500   0.824583   0.656250   0.655000
4  2018-01-16   1.232083   0.997917   0.786250   0.797083

- Now, we merge the `phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd` with `phreatic_level_l21_n5_28w_avg_pd`

```
# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL21N1 | PORVL21N2 | PORVL21N3 | PORVL21N4 | PORVL21N5 | 
#       |          |          |             |           |           | 
```

In [73]:
phreatic_level_l21_28w_avg_pd = pd.merge(phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd, phreatic_level_l21n5_28w_avg_pd, how='inner', on='Fecha')

In [74]:
phreatic_level_l21_28w_avg_pd.head()

        Fecha  PORVL21N1  PORVL21N2  PORVL21N3  PORVL21N4  PORVL21N5
0  2018-01-12   1.489565   1.079130   0.944783   0.892174   0.816087
1  2018-01-13   1.151250   0.856250   0.668333   0.581667   0.656897
2  2018-01-14   1.022083   0.729583   0.520833   0.502500   0.567083
3  2018-01-15   1.087500   0.824583   0.656250   0.655000   0.738750
4  2018-01-16   1.232083   0.997917   0.786250   0.797083   0.816667

#### 5.3 Generating average between PORVL21N1, PORVL21N2, PORVL21N3, PORVL21N4 and PORVL21N5 values

In [75]:
phreatic_level_l21_28w_avg_pd['PORVL21_AVERAGE'] = phreatic_level_l21_28w_avg_pd.mean(axis=1)
phreatic_level_l21_28w_avg_pd.head()

,Fecha,PORVL21N1,PORVL21N2,PORVL21N3,PORVL21N4,PORVL21N5,PORVL21_AVERAGE
0,2018-01-12,1.489565,1.079130,0.944783,0.892174,0.816087,1.044348
1,2018-01-13,1.151250,0.856250,0.668333,0.581667,0.656897,0.782879
2,2018-01-14,1.022083,0.729583,0.520833,0.502500,0.567083,0.668417
3,2018-01-15,1.087500,0.824583,0.656250,0.655000,0.738750,0.792417
4,2018-01-16,1.232083,0.997917,0.786250,0.797083,0.816667,0.926000

In [76]:
# Export phreatic_level_l21_28w_avg_pd dataframe 
# Fecha | PORVL21N1 | PORVL21N2 | PORVL21N3 | PORVL21N4 | PORVL21N5 | PORVL21_AVERAGE |
#       |          |          |             |           |           |                 |

phreatic_level_l21_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL21N1_N2_N3_N4_N5_average_per-lot.csv', 
                                     sep=',', header=True, index=False)

In [ ]:
phreatic_level_l21_28w_avg_pd = phreatic_level_l18_28w_avg_pd[['Fecha', 'PORVL18_AVERAGE']]
print(phreatic_level_l21_28w_avg_pd.head())

# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL21_AVERAGE |
#       |                |
phreatic_level_l21_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL21_average_per-day.csv', sep=',', header=True, index=False)