In [1]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np

Until here, we have made the following steps:

**1.** Generate phreatic level values by node into separate file

**2.** Generate phreatic level average per day by node into separate file

Now, is necessary read and concatenate phreatic level average per day by node values
and generate average per day by lot.

We had the phreatic level characterization around of 
25 lots on the Porvenir farm of this way: 

- Lot 2 **named PORVL2** and have the Node 1 and Node 2
     
     - PORVL2N1
     - PORVL2N2
 
 ---
 
- Lot 4 **named PORVL4** and have the Node 1
     
     - PORVL4N1
 
 ---
 
 And so, successively.
 
 ---
 
 The idea is that **PORVL2N1** and **PORVL2N2** now they are only called **PORVL2**
 
 **PORVL4N1** now will be called **PORVL4**, and so, successively.
 
 To perform this, we going to concatenate in one dataframe variable the respective dataframes
 of each lote.

## 1. Concatenating PORVL2N1 and PORVL2N2 average per day values

### 1.1. Reading PORVL2N1 average per day values

In [2]:

phreatic_level_l2n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL2N1_average_per-day.csv')

In [3]:
print(phreatic_level_l2n1_28w_avg_pd.shape)
phreatic_level_l2n1_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL2N1
0  2018-01-12  0.519130
1  2018-01-13  0.138750
2  2018-01-14  0.175417
3  2018-01-15  0.111667
4  2018-01-16  0.291250

### 1.2. Reading PORVL2N2 average per day values

In [4]:
phreatic_level_l2n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL2N2_average_per-day.csv')

In [5]:
print(phreatic_level_l2n2_28w_avg_pd.shape)
phreatic_level_l2n2_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL2N2
0  2018-01-12  0.718696
1  2018-01-13  0.299583
2  2018-01-14  0.168750
3  2018-01-15  0.134167
4  2018-01-16  0.335000

### 1.3. Merging phreatic level averages per day dataframes 

Now, we going to merge the **`phreatic_level_l2n1_28w_avg_pd`** and **`phreatic_level_l2n2_28w_avg_pd`** dataframes

In [6]:

# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l2_28w_avg_pd = pd.merge(phreatic_level_l2n1_28w_avg_pd,phreatic_level_l2n2_28w_avg_pd, how='inner', on='Fecha')

In [7]:
phreatic_level_l2_28w_avg_pd.head()

        Fecha  PORVL2N1  PORVL2N2
0  2018-01-12  0.519130  0.718696
1  2018-01-13  0.138750  0.299583
2  2018-01-14  0.175417  0.168750
3  2018-01-15  0.111667  0.134167
4  2018-01-16  0.291250  0.335000

### 1.4 Generating average between PORVL2N1 and PORVL2N2 values

In [8]:
phreatic_level_l2_28w_avg_pd['PORVL2_AVG'] = phreatic_level_l2_28w_avg_pd.mean(axis=1)

In [9]:
phreatic_level_l2_28w_avg_pd.head()

        Fecha  PORVL2N1  PORVL2N2  PORVL2_AVG
0  2018-01-12  0.519130  0.718696    0.618913
1  2018-01-13  0.138750  0.299583    0.219167
2  2018-01-14  0.175417  0.168750    0.172083
3  2018-01-15  0.111667  0.134167    0.122917
4  2018-01-16  0.291250  0.335000    0.313125

In [10]:
# Export phreatic_level_l2_28w_avg_pd dataframe 
# Fecha | PORVL2N1 | PORVL2N2 | PORVL2_AVERAGE |
#       |          |          |                |
phreatic_level_l2_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL2N1_N2_average_per-lot.csv', sep=',', header=True, index=False)

In [11]:
phreatic_level_l2_28w_avg_pd_df = phreatic_level_l2_28w_avg_pd[['Fecha','PORVL2_AVG']]

In [12]:
phreatic_level_l2_28w_avg_pd_df.head()

        Fecha  PORVL2_AVG
0  2018-01-12    0.618913
1  2018-01-13    0.219167
2  2018-01-14    0.172083
3  2018-01-15    0.122917
4  2018-01-16    0.313125

In [13]:
# Export phreatic_level_l2_28w_avg_pd_df dataframe 
# Fecha | PORVL2_AVERAGE |
#       |                |
phreatic_level_l2_28w_avg_pd_df.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL2_average_per-day.csv', sep=',', header=True, index=False)

## 2. Turning PORVL4N1, ... , PORVL15N1 average per day values 
## to PORVL4, ... , PORVL15

### 2.1 Reading PORVL4N1 average per day values

In [15]:
phreatic_level_l4n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL4N1_average_per-day.csv')

In [16]:
phreatic_level_l4n1_28w_avg_pd = phreatic_level_l4n1_28w_avg_pd.rename(columns={
    'PORVL4N1':'PORVL4_AVG'
})
phreatic_level_l4n1_28w_avg_pd.head()

        Fecha  PORVL4_AVG
0  2018-01-12    0.818261
1  2018-01-13    0.532917
2  2018-01-14    0.482083
3  2018-01-15    0.555833
4  2018-01-16    0.764167

In [17]:
# Export phreatic_level_l4n1_28w_avg_pd dataframe 
# Fecha | PORVL4 |  # Only one column one N1
#       |       |
phreatic_level_l4n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL4_average_per-day.csv', sep=',', header=True, index=False)

In [18]:
# Reading PORVL5 average per day values
phreatic_level_l5n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL5N1_average_per-day.csv')
phreatic_level_l5n1_28w_avg_pd = phreatic_level_l5n1_28w_avg_pd.rename(columns={
    'PORVL5N1':'PORVL5_AVG'
})
print(phreatic_level_l5n1_28w_avg_pd.head())
# Export phreatic_level_l5n1_28w_avg_pd dataframe 
# Fecha | PORVL5 |  # Only one column one N1
#       |       |
phreatic_level_l5n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL5_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL5_AVG
0  2018-01-12    0.537826
1  2018-01-13    0.292500
2  2018-01-14    0.246667
3  2018-01-15    0.245417
4  2018-01-16    0.427500

In [19]:
# Reading PORVL6 average per day values
phreatic_level_l6n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL6N1_average_per-day.csv')
phreatic_level_l6n1_28w_avg_pd = phreatic_level_l6n1_28w_avg_pd.rename(columns={
    'PORVL6N1':'PORVL6_AVG'
})
print(phreatic_level_l6n1_28w_avg_pd.head())
# Export phreatic_level_l5n1_28w_avg_pd dataframe 
# Fecha | PORVL6 |  # Only one column one N1
#       |       |
phreatic_level_l6n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL6_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL6_AVG
0  2018-01-12    0.829130
1  2018-01-13    0.510417
2  2018-01-14    0.488750
3  2018-01-15    0.529167
4  2018-01-16    0.717917

In [20]:
# Reading PORVL7 average per day values
phreatic_level_l7n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL7N1_average_per-day.csv')
phreatic_level_l7n1_28w_avg_pd = phreatic_level_l7n1_28w_avg_pd.rename(columns={
    'PORVL7N1':'PORVL7_AVG'
})
print(phreatic_level_l7n1_28w_avg_pd.head())
# Export phreatic_level_l7n1_28w_avg_pd dataframe 
# Fecha | PORVL7 |  # Only one column one N1
#       |       |
phreatic_level_l7n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL7_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL7_AVG
0  2018-01-12    1.043043
1  2018-01-13    0.598333
2  2018-01-14    0.522500
3  2018-01-15    0.495833
4  2018-01-16    0.792917

In [21]:
# Reading PORVL8 average per day values
phreatic_level_l8n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL8N1_average_per-day.csv')
phreatic_level_l8n1_28w_avg_pd = phreatic_level_l8n1_28w_avg_pd.rename(columns={
    'PORVL8N1':'PORVL8_AVG'
})
print(phreatic_level_l8n1_28w_avg_pd.head())
# Export phreatic_level_l8n1_28w_avg_pd dataframe 
# Fecha | PORVL8 |  # Only one column one N1
#       |       |
phreatic_level_l8n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL8_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL8_AVG
0  2018-01-12    1.041739
1  2018-01-13    0.738750
2  2018-01-14    0.584167
3  2018-01-15    0.641667
4  2018-01-16    0.929583

In [22]:
# Reading PORVL9 average per day values
phreatic_level_l9n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL9N1_average_per-day.csv')
phreatic_level_l9n1_28w_avg_pd = phreatic_level_l9n1_28w_avg_pd.rename(columns={
    'PORVL9N1':'PORVL9_AVG'
})
print(phreatic_level_l9n1_28w_avg_pd.head())
# Export phreatic_level_l9n1_28w_avg_pd dataframe 
# Fecha | PORVL9 |  # Only one column one N1
#       |       |
phreatic_level_l9n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL9_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL9_AVG
0  2018-01-12    1.033043
1  2018-01-13    0.772917
2  2018-01-14    0.725000
3  2018-01-15    0.735000
4  2018-01-16    0.892917

In [23]:
# Reading PORVL10 average per day values
phreatic_level_l10n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL10N1_average_per-day.csv')
phreatic_level_l10n1_28w_avg_pd = phreatic_level_l10n1_28w_avg_pd.rename(columns={
    'PORVL10N1':'PORVL10_AVG'
})
print(phreatic_level_l10n1_28w_avg_pd.head())
# Export phreatic_level_l10n1_28w_avg_pd dataframe 
# Fecha | PORVL10 |  # Only one column one N1
#       |       |
phreatic_level_l10n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL10_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL10_AVG
0  2018-01-12     0.949130
1  2018-01-13     0.694583
2  2018-01-14     0.645833
3  2018-01-15     0.692963
4  2018-01-16     0.774000

In [24]:
# Reading PORVL13 average per day values
phreatic_level_l13n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL13N1_average_per-day.csv')
phreatic_level_l13n1_28w_avg_pd = phreatic_level_l13n1_28w_avg_pd.rename(columns={
    'PORVL13N1':'PORVL13_AVG'
})
print(phreatic_level_l13n1_28w_avg_pd.head())
# Export phreatic_level_l13n1_28w_avg_pd dataframe 
# Fecha | PORVL13 |  # Only one column one N1
#       |       |
phreatic_level_l13n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL13_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL13_AVG
0  2018-01-12     1.030870
1  2018-01-13     0.669583
2  2018-01-14     0.518750
3  2018-01-15     0.614167
4  2018-01-16     0.798750

In [25]:
# Reading PORVL14 average per day values
phreatic_level_l14n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL14N1_average_per-day.csv')
phreatic_level_l14n1_28w_avg_pd = phreatic_level_l14n1_28w_avg_pd.rename(columns={
    'PORVL14N1':'PORVL14_AVG'
})
print(phreatic_level_l14n1_28w_avg_pd.head())
# Export phreatic_level_l14n1_28w_avg_pd dataframe 
# Fecha | PORVL14 |  # Only one column one N1
#       |       |
phreatic_level_l14n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL14_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL14_AVG
0  2018-01-12     1.350435
1  2018-01-13     1.167500
2  2018-01-14     0.786667
3  2018-01-15     0.692000
4  2018-01-16     0.900833

In [26]:
# Reading PORVL15 average per day values
phreatic_level_l15n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL15N1_average_per-day.csv')
phreatic_level_l15n1_28w_avg_pd = phreatic_level_l15n1_28w_avg_pd.rename(columns={
    'PORVL15N1':'PORVL15_AVG'
})
print(phreatic_level_l15n1_28w_avg_pd.head())
# Export phreatic_level_l15n1_28w_avg_pd dataframe 
# Fecha | PORVL15 |  # Only one column one N1
#       |       |
phreatic_level_l15n1_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL15_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL15_AVG
0  2018-01-12     1.082609
1  2018-01-13     0.880000
2  2018-01-14     0.841667
3  2018-01-15     0.842917
4  2018-01-16     0.962500

## 3. Concatenating PORVL16N1 and PORVL16N2 average per day values

### 3.1 Reading PORVL16N1 average per day value

In [27]:
phreatic_level_l16n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL16N1_average_per-day.csv')

In [28]:
print(phreatic_level_l16n1_28w_avg_pd.shape)
phreatic_level_l16n1_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL16N1
0  2018-01-12   0.883913
1  2018-01-13   0.682917
2  2018-01-14   0.607083
3  2018-01-15   0.667917
4  2018-01-16   0.813333

### 3.2 Reading PORVL16N2 average per day value

In [29]:
phreatic_level_l16n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL16N2_average_per-day.csv')

In [30]:
print(phreatic_level_l16n2_28w_avg_pd.shape)
phreatic_level_l16n2_28w_avg_pd.head()

(204, 2)

        Fecha  PORVL16N2
0  2018-01-12   1.545217
1  2018-01-13   1.528750
2  2018-01-14   1.386667
3  2018-01-15   1.228750
4  2018-01-16   1.227083

### 3.3 Merging phreatic level averages per day dataframes

Now, we going to merge the **`phreatic_level_l16n1_28w_avg_pd`** and **`phreatic_level_l16n2_28w_avg_pd`** dataframes

In [31]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l16_28w_avg_pd = pd.merge(phreatic_level_l16n1_28w_avg_pd,phreatic_level_l16n2_28w_avg_pd, how='inner', on='Fecha')

In [32]:
print(phreatic_level_l16_28w_avg_pd.shape)
phreatic_level_l16_28w_avg_pd.head()

(204, 3)

        Fecha  PORVL16N1  PORVL16N2
0  2018-01-12   0.883913   1.545217
1  2018-01-13   0.682917   1.528750
2  2018-01-14   0.607083   1.386667
3  2018-01-15   0.667917   1.228750
4  2018-01-16   0.813333   1.227083

### 3.4 Generating average between PORVL16N1 and PORVL16N2 values

In [33]:
phreatic_level_l16_28w_avg_pd['PORVL16_AVG'] = phreatic_level_l16_28w_avg_pd.mean(axis=1)

In [34]:
phreatic_level_l16_28w_avg_pd.head()

        Fecha  PORVL16N1  PORVL16N2  PORVL16_AVG
0  2018-01-12   0.883913   1.545217     1.214565
1  2018-01-13   0.682917   1.528750     1.105833
2  2018-01-14   0.607083   1.386667     0.996875
3  2018-01-15   0.667917   1.228750     0.948333
4  2018-01-16   0.813333   1.227083     1.020208

In [35]:
# Export phreatic_level_l16_28w_avg_pd dataframe 
# Fecha | PORVL16N1 | PORVL16N2 | PORVL16_AVERAGE |
#       |          |          |                |
phreatic_level_l16_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL16N1_N2_average_per-lot.csv', sep=',', header=True, index=False)

In [36]:
phreatic_level_l16_28w_avg_pd = phreatic_level_l16_28w_avg_pd[['Fecha','PORVL16_AVG']]
phreatic_level_l16_28w_avg_pd.head()

        Fecha  PORVL16_AVG
0  2018-01-12     1.214565
1  2018-01-13     1.105833
2  2018-01-14     0.996875
3  2018-01-15     0.948333
4  2018-01-16     1.020208

In [37]:
# Export phreatic_level_l16_28w_avg_pd dataframe 
# Fecha | PORVL16_AVERAGE |
#       |                |
phreatic_level_l16_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL16_average_per-day.csv', sep=',', header=True, index=False)

## 4. Concatenating PORVL18 Nodes 1,2,3,4 average per day values

### 4.1. Reading PORVL18N1 PORVL18N2, PORVL18N3 and PORVL18N4 average per day values

In [38]:
phreatic_level_l18n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N1_average_per-day.csv')

phreatic_level_l18n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N2_average_per-day.csv')

phreatic_level_l18n3_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N3_average_per-day.csv')

phreatic_level_l18n4_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL18N4_average_per-day.csv')

### 4.2 Merging phreatic level averages per day dataframes

Now, we going to merge the **`phreatic_level_l18n1_28w_avg_pd`**, 

**`phreatic_level_l18n2_28w_avg_pd`**, **`phreatic_level_l18n3_28w_avg_pd`**

and **`phreatic_level_l18n4_28w_avg_pd`** dataframes

In [39]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l18_28w_avg_pd = pd.merge(phreatic_level_l18n1_28w_avg_pd, phreatic_level_l18n2_28w_avg_pd, phreatic_level_l18n3_28w_avg_pd, phreatic_level_l18n4_28w_avg_pd, how='inner', on='Fecha')

TypeError: merge() got multiple values for argument 'how'

**`pd.merge`** can merge only two DataFrames. The third parameter (`phreatic_level_l18n3_28w_avg_pd` in my case) is interpreted as `"how."` I also supply the named `how='outer'`, and that's why I see the error message. 

Solution to my problem: `merge` the first two DataFrames, then merge the result with the third and fourth one.

- We merge initally the `phreatic_level_l18n1_28w_avg_pd` and `phreatic_level_l18n1_28w_avg_pd` dataframes

In [40]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l18_n1_n2_28w_avg_pd = pd.merge(phreatic_level_l18n1_28w_avg_pd, phreatic_level_l18n2_28w_avg_pd, how='inner', on='Fecha')

In [41]:
phreatic_level_l18_n1_n2_28w_avg_pd.head()

        Fecha  PORVL18N1  PORVL18N2
0  2018-01-12       1.01   0.803043
1  2018-01-13       1.01   0.397083
2  2018-01-14       1.01   0.290000
3  2018-01-15       1.01   0.379167
4  2018-01-16       1.01   0.582083

- Now, we merge the `phreatic_level_l18n3_28w_avg_pd` and `phreatic_level_l18n4_28w_avg_pd` dataframes

In [42]:
phreatic_level_l18_n3_n4_28w_avg_pd = pd.merge(phreatic_level_l18n3_28w_avg_pd, phreatic_level_l18n4_28w_avg_pd, how='inner', on='Fecha')

In [43]:
phreatic_level_l18_n3_n4_28w_avg_pd.head()

        Fecha  PORVL18N3  PORVL18N4
0  2018-01-12   1.241739   1.032174
1  2018-01-13   0.955833   0.864583
2  2018-01-14   0.659167   0.735417
3  2018-01-15   0.808750   0.828333
4  2018-01-16   0.995417   0.890833

- And then, we merge the `phreatic_level_l18_n1_n2_28w_avg_pd` and `phreatic_level_l18_n3_n4_28w_avg_pd` dataframes to compose the following dataframe

```
# Fecha | PORVL18N1 | PORVL18N2 | PORVL18N3 | PORVL18N4 |
#       |          |          |             |           |
```

In [44]:
phreatic_level_l18_28w_avg_pd = pd.merge(phreatic_level_l18_n1_n2_28w_avg_pd, phreatic_level_l18_n3_n4_28w_avg_pd, how='inner', on='Fecha')

In [45]:
phreatic_level_l18_28w_avg_pd.head()

        Fecha  PORVL18N1  PORVL18N2  PORVL18N3  PORVL18N4
0  2018-01-12       1.01   0.803043   1.241739   1.032174
1  2018-01-13       1.01   0.397083   0.955833   0.864583
2  2018-01-14       1.01   0.290000   0.659167   0.735417
3  2018-01-15       1.01   0.379167   0.808750   0.828333
4  2018-01-16       1.01   0.582083   0.995417   0.890833

### 4.3 Generating average between PORVL18N1, PORVL18N2, PORVL18N3 and PORVL18N4 values

In [46]:
phreatic_level_l18_28w_avg_pd['PORVL18_AVG'] = phreatic_level_l18_28w_avg_pd.mean(axis=1)

In [47]:
phreatic_level_l18_28w_avg_pd.head()

        Fecha  PORVL18N1  PORVL18N2  PORVL18N3  PORVL18N4  PORVL18_AVG
0  2018-01-12       1.01   0.803043   1.241739   1.032174     1.021739
1  2018-01-13       1.01   0.397083   0.955833   0.864583     0.806875
2  2018-01-14       1.01   0.290000   0.659167   0.735417     0.673646
3  2018-01-15       1.01   0.379167   0.808750   0.828333     0.756563
4  2018-01-16       1.01   0.582083   0.995417   0.890833     0.869583

In [48]:
# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL18N1 | PORVL18N2 | PORVL18N3 | PORVL18N4 | PORVL18_AVG |
#       |          |          |             |           |                 |
phreatic_level_l18_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL18N1_N2_N3_N4_average_per-lot.csv', 
                                     sep=',', header=True, index=False)

In [49]:
phreatic_level_l18_28w_avg_pd = phreatic_level_l18_28w_avg_pd[['Fecha', 'PORVL18_AVG']]
print(phreatic_level_l18_28w_avg_pd.head())

# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL18_AVG |
#       |                |
phreatic_level_l18_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL18_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL18_AVG
0  2018-01-12     1.021739
1  2018-01-13     0.806875
2  2018-01-14     0.673646
3  2018-01-15     0.756563
4  2018-01-16     0.869583

## 5. Concatenating PORVL21 Nodes 1,2,3,4,5 average per day values

#### 5.1 Reading PORVL21N1, PORVL21N2, PORVL21N3, PORVL21N4 and PORVL21N5 average per day values

In [50]:
phreatic_level_l21n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N1_average_per-day.csv')

phreatic_level_l21n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N2_average_per-day.csv')

phreatic_level_l21n3_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N3_average_per-day.csv')

phreatic_level_l21n4_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N4_average_per-day.csv')

phreatic_level_l21n5_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL21N5_average_per-day.csv')

### 5.2 Merging phreatic level averages per day dataframes

- We merge initally the `phreatic_level_l21n1_28w_avg_pd` and `phreatic_level_l21n2_28w_avg_pd` dataframes

In [51]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l21_n1_n2_28w_avg_pd = pd.merge(phreatic_level_l21n1_28w_avg_pd, phreatic_level_l21n2_28w_avg_pd, how='inner', on='Fecha')

In [52]:
phreatic_level_l21_n1_n2_28w_avg_pd.head()

        Fecha  PORVL21N1  PORVL21N2
0  2018-01-12   1.489565   1.079130
1  2018-01-13   1.151250   0.856250
2  2018-01-14   1.022083   0.729583
3  2018-01-15   1.087500   0.824583
4  2018-01-16   1.232083   0.997917

- Now, we merge the `phreatic_level_l21n3_28w_avg_pd` and `phreatic_level_l21n4_28w_avg_pd` dataframes

In [53]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
phreatic_level_l21_n3_n4_28w_avg_pd = pd.merge(phreatic_level_l21n3_28w_avg_pd, phreatic_level_l21n4_28w_avg_pd, how='inner', on='Fecha')

- Now, we merge the `phreatic_level_l21_n1_n2_28w_avg_pd` with `phreatic_level_l21_n3_n4_28w_avg_pd`

In [54]:
phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd = pd.merge(phreatic_level_l21_n1_n2_28w_avg_pd, phreatic_level_l21_n3_n4_28w_avg_pd, how='inner', on='Fecha')

In [55]:
phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd.head()

        Fecha  PORVL21N1  PORVL21N2  PORVL21N3  PORVL21N4
0  2018-01-12   1.489565   1.079130   0.944783   0.892174
1  2018-01-13   1.151250   0.856250   0.668333   0.581667
2  2018-01-14   1.022083   0.729583   0.520833   0.502500
3  2018-01-15   1.087500   0.824583   0.656250   0.655000
4  2018-01-16   1.232083   0.997917   0.786250   0.797083

- Now, we merge the `phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd` with `phreatic_level_l21_n5_28w_avg_pd`

```
# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL21N1 | PORVL21N2 | PORVL21N3 | PORVL21N4 | PORVL21N5 | 
#       |          |          |             |           |           | 
```

In [56]:
phreatic_level_l21_28w_avg_pd = pd.merge(phreatic_level_l21_n1_n2_n3_n4_28w_avg_pd, phreatic_level_l21n5_28w_avg_pd, how='inner', on='Fecha')

In [57]:
phreatic_level_l21_28w_avg_pd.head()

        Fecha  PORVL21N1  PORVL21N2  PORVL21N3  PORVL21N4  PORVL21N5
0  2018-01-12   1.489565   1.079130   0.944783   0.892174   0.816087
1  2018-01-13   1.151250   0.856250   0.668333   0.581667   0.656897
2  2018-01-14   1.022083   0.729583   0.520833   0.502500   0.567083
3  2018-01-15   1.087500   0.824583   0.656250   0.655000   0.738750
4  2018-01-16   1.232083   0.997917   0.786250   0.797083   0.816667

#### 5.3 Generating average between PORVL21N1, PORVL21N2, PORVL21N3, PORVL21N4 and PORVL21N5 values

In [58]:
phreatic_level_l21_28w_avg_pd['PORVL21_AVG'] = phreatic_level_l21_28w_avg_pd.mean(axis=1)
phreatic_level_l21_28w_avg_pd.head()

,Fecha,PORVL21N1,PORVL21N2,PORVL21N3,PORVL21N4,PORVL21N5,PORVL21_AVG
0,2018-01-12,1.489565,1.079130,0.944783,0.892174,0.816087,1.044348
1,2018-01-13,1.151250,0.856250,0.668333,0.581667,0.656897,0.782879
2,2018-01-14,1.022083,0.729583,0.520833,0.502500,0.567083,0.668417
3,2018-01-15,1.087500,0.824583,0.656250,0.655000,0.738750,0.792417
4,2018-01-16,1.232083,0.997917,0.786250,0.797083,0.816667,0.926000

In [59]:
# Export phreatic_level_l21_28w_avg_pd dataframe 
# Fecha | PORVL21N1 | PORVL21N2 | PORVL21N3 | PORVL21N4 | PORVL21N5 | PORVL21_AVERAGE |
#       |          |          |             |           |           |                 |

phreatic_level_l21_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL21N1_N2_N3_N4_N5_average_per-lot.csv', 
                                     sep=',', header=True, index=False)

In [60]:
phreatic_level_l21_28w_avg_pd = phreatic_level_l21_28w_avg_pd[['Fecha', 'PORVL21_AVG']]
print(phreatic_level_l21_28w_avg_pd.head())

# Export phreatic_level_l18_28w_avg_pd dataframe 
# Fecha | PORVL21_AVERAGE |
#       |                |
phreatic_level_l21_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL21_average_per-day.csv', sep=',', header=True, index=False)

        Fecha  PORVL21_AVG
0  2018-01-12     1.044348
1  2018-01-13     0.782879
2  2018-01-14     0.668417
3  2018-01-15     0.792417
4  2018-01-16     0.926000

## 6. Concatenating PORVL24N1 and PORVL24N2 average per day values

### 6.1. Reading PORVL24N1 and PORVL24N2 average per day values

In [62]:
phreatic_level_l24n1_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL24N1_average_per-day.csv')

phreatic_level_l24n2_28w_avg_pd = pd.read_csv('../../../../data/interim/PhreaticLevel/'  \
                    '28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes_Average_by-day/' \
                    'PORVL24N2_average_per-day.csv')

### 6.3. Merging phreatic level averages per day dataframes

Now, we going to merge the `phreatic_level_l24n1_28w_avg_pd` and `phreatic_level_l24n2_28w_avg_pd` dataframes

In [63]:
phreatic_level_l24_28w_avg_pd = pd.merge(phreatic_level_l24n1_28w_avg_pd,phreatic_level_l24n2_28w_avg_pd, how='inner', on='Fecha')

In [64]:
phreatic_level_l24_28w_avg_pd.head()

        Fecha  PORVL24N1  PORVL24N2
0  2018-01-12   0.765217   1.207826
1  2018-01-13   0.215417   0.763750
2  2018-01-14   0.198750   0.663333
3  2018-01-15   0.236667   0.856250
4  2018-01-16   0.473333   1.061667

### 6.4 Generating average between PORVL24N1 and PORVL24N2 values

In [65]:
phreatic_level_l24_28w_avg_pd['PORVL24_AVG'] = phreatic_level_l24_28w_avg_pd.mean(axis=1)

In [66]:
phreatic_level_l24_28w_avg_pd.head()

        Fecha  PORVL24N1  PORVL24N2  PORVL24_AVG
0  2018-01-12   0.765217   1.207826     0.986522
1  2018-01-13   0.215417   0.763750     0.489583
2  2018-01-14   0.198750   0.663333     0.431042
3  2018-01-15   0.236667   0.856250     0.546458
4  2018-01-16   0.473333   1.061667     0.767500

In [67]:
# Export phreatic_level_l24_28w_avg_pd dataframe 
# Fecha | PORVL24N1 | PORVL24N2 | PORVL2_AVERAGE |
#       |          |          |                |
phreatic_level_l24_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'LOTx_N_y_AVG_x-y_table/PORVL24N1_N2_average_per-lot.csv', sep=',', header=True, index=False)

In [68]:
phreatic_level_l24_28w_avg_pd = phreatic_level_l24_28w_avg_pd[['Fecha', 'PORVL24_AVG']]

In [69]:
# Export phreatic_level_l24_28w_avg_pd dataframe 
# Fecha | PORVL24_AVERAGE |
#       |                |
phreatic_level_l24_28w_avg_pd.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/PhreaticLevelAverage_by-Lot/' \
                            'PORVL24_average_per-day.csv', sep=',', header=True, index=False)

## 7. Merging all average values of all lots

**`pd.merge`** can merge only two DataFrames, then we proceed of this way:

In [83]:
# Merging From PORVL2 to PORVL4 
phreatic_level_l2_l4_28w_avg = pd.merge(phreatic_level_l2_28w_avg_pd_df,phreatic_level_l4n1_28w_avg_pd, how='inner', on='Fecha')

# Merging From PORVL5 to PORVL6 
phreatic_level_l5_l6_28w_avg = pd.merge(phreatic_level_l5n1_28w_avg_pd,phreatic_level_l6n1_28w_avg_pd, how='inner', on='Fecha')

# Merging From PORVL7 to PORVL8 
phreatic_level_l7_l8_28w_avg = pd.merge(phreatic_level_l7n1_28w_avg_pd,phreatic_level_l8n1_28w_avg_pd, how='inner', on='Fecha')

# Merging From PORVL9 to PORVL10 
phreatic_level_l9_l10_28w_avg = pd.merge(phreatic_level_l9n1_28w_avg_pd,phreatic_level_l10n1_28w_avg_pd, how='inner', on='Fecha')

# Merging From PORVL13 to PORVL14 
phreatic_level_l13_l14_28w_avg = pd.merge(phreatic_level_l13n1_28w_avg_pd,phreatic_level_l14n1_28w_avg_pd, how='inner', on='Fecha')

# Merging From PORVL15 to PORVL16 
phreatic_level_l15_l16_28w_avg = pd.merge(phreatic_level_l15n1_28w_avg_pd,phreatic_level_l16_28w_avg_pd, how='inner', on='Fecha')

# Merging From PORVL18 to PORVL21 
phreatic_level_l18_l21_28w_avg = pd.merge(phreatic_level_l18_28w_avg_pd,phreatic_level_l21_28w_avg_pd, how='inner', on='Fecha')




# We merge again, from PORVL2 to PORVL6
phreatic_level_l2_l6_28w_avg = pd.merge(phreatic_level_l2_l4_28w_avg,phreatic_level_l5_l6_28w_avg, how='inner', on='Fecha')

# We merge again, from PORVL7 to PORVL10 
phreatic_level_l7_l10_28w_avg = pd.merge(phreatic_level_l7_l8_28w_avg,phreatic_level_l9_l10_28w_avg, how='inner', on='Fecha')

# We merge again, from PORVL13 to PORVL16 
phreatic_level_l13_l16_28w_avg = pd.merge(phreatic_level_l13_l14_28w_avg,phreatic_level_l15_l16_28w_avg, how='inner', on='Fecha')

# We merge again, from PORVL18 to PORVL24 
phreatic_level_l18_l24_28w_avg = pd.merge(phreatic_level_l18_l21_28w_avg,phreatic_level_l24_28w_avg_pd, how='inner', on='Fecha')

# And again, from PORVL2 to PORVL10 
phreatic_level_l2_l10_28w_avg = pd.merge(phreatic_level_l2_l6_28w_avg,phreatic_level_l7_l10_28w_avg, how='inner', on='Fecha')

# And again, from PORVL13 to PORVL24 
phreatic_level_l13_l24_28w_avg = pd.merge(phreatic_level_l13_l16_28w_avg,phreatic_level_l18_l24_28w_avg, how='inner', on='Fecha')

# And again for latest time, from PORVL2 to PORVL24 
phreatic_level_all_lots_28w_avg = pd.merge(phreatic_level_l2_l10_28w_avg,phreatic_level_l13_l24_28w_avg, how='inner', on='Fecha')
phreatic_level_all_lots_28w_avg.head()

,Fecha,PORVL2_AVG,PORVL4_AVG,PORVL5_AVG,PORVL6_AVG,PORVL7_AVG,PORVL8_AVG,PORVL9_AVG,PORVL10_AVG,PORVL13_AVG,PORVL14_AVG,PORVL15_AVG,PORVL16_AVG,PORVL18_AVG,PORVL21_AVG,PORVL24_AVG
0,2018-01-12,0.618913,0.818261,0.537826,0.829130,1.043043,1.041739,1.033043,0.949130,1.030870,1.350435,1.082609,1.214565,1.021739,1.044348,0.986522
1,2018-01-13,0.219167,0.532917,0.292500,0.510417,0.598333,0.738750,0.772917,0.694583,0.669583,1.167500,0.880000,1.105833,0.806875,0.782879,0.489583
2,2018-01-14,0.172083,0.482083,0.246667,0.488750,0.522500,0.584167,0.725000,0.645833,0.518750,0.786667,0.841667,0.996875,0.673646,0.668417,0.431042
3,2018-01-15,0.122917,0.555833,0.245417,0.529167,0.495833,0.641667,0.735000,0.692963,0.614167,0.692000,0.842917,0.948333,0.756563,0.792417,0.546458
4,2018-01-16,0.313125,0.764167,0.427500,0.717917,0.792917,0.929583,0.892917,0.774000,0.798750,0.900833,0.962500,1.020208,0.869583,0.926000,0.767500

In [84]:
# We export it 
phreatic_level_all_lots_28w_avg.to_csv( '../../../../data/interim/PhreaticLevel/'  \
                            '28-weeks_January-12_August-03_2018/4.PhreaticLevel_Averaged_All-Nodes/' \
                            'PORV_all_lots_average_nodes-per-day.csv', sep=',', header=True, index=False)

So, this is the phreatic level dataset, averaged with respect to its nodes in each lot of the Porvenir farm.

Before, without performing the averaging process it was like this: