In [1]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np

# 1. Loading phreatic level datasets by lots, nodes per day values.

## 1.1  Loading L2N1

In [2]:
phreatic_level_l2n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL2N1_portion.csv', )

In [3]:
print(phreatic_level_l2n1_28w_df.shape)
phreatic_level_l2n1_28w_df.head()

(4880, 3)

        Fecha      Hora  PORVL2N1
0  2018-01-12  01:37:47      0.65
1  2018-01-12  02:37:45      0.65
2  2018-01-12  03:37:50      0.64
3  2018-01-12  04:37:44      0.63
4  2018-01-12  05:37:45      0.61

## 1.2  Loading L2N2

In [4]:
phreatic_level_l2n2_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL2N2_portion.csv', )

In [5]:
print(phreatic_level_l2n2_28w_df.shape)
phreatic_level_l2n2_28w_df.head()

(4880, 3)

      Fecha.1    Hora.1  PORVL2N2
0  2018-01-12  01:58:22      0.71
1  2018-01-12  02:58:22      0.71
2  2018-01-12  03:58:23      0.71
3  2018-01-12  04:58:23      0.71
4  2018-01-12  05:58:24      0.71

## 1.3  Loading L4N1

In [6]:
phreatic_level_l4n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL4N1_portion.csv', )

In [7]:
print(phreatic_level_l4n1_28w_df.shape)
phreatic_level_l4n1_28w_df.head()

(4880, 3)

      Fecha.2    Hora.2  PORVL4N1
0  2018-01-12  01:28:49      0.96
1  2018-01-12  02:28:49      0.96
2  2018-01-12  03:28:50      0.96
3  2018-01-12  04:28:52      0.95
4  2018-01-12  05:28:48      0.94

In [8]:
## 1.4  Loading L5N1

In [9]:
phreatic_level_l5n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL5N1_portion.csv', )

In [10]:
print(phreatic_level_l5n1_28w_df.shape)
phreatic_level_l5n1_28w_df.head()

(4880, 3)

      Fecha.3    Hora.3  PORVL5N1
0  2018-01-12  01:58:18      0.62
1  2018-01-12  02:58:20      0.63
2  2018-01-12  03:58:17      0.62
3  2018-01-12  04:58:17      0.61
4  2018-01-12  05:58:32      0.60

In [11]:
## 1.5  Loading L6N1

In [12]:
phreatic_level_l6n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL6N1_portion.csv', )

In [13]:
print(phreatic_level_l6n1_28w_df.shape)
phreatic_level_l6n1_28w_df.head()

(4880, 3)

      Fecha.4    Hora.4  PORVL6N1
0  2018-01-12  01:53:21      0.90
1  2018-01-12  02:53:39      0.89
2  2018-01-12  03:53:19      0.89
3  2018-01-12  04:53:17      0.89
4  2018-01-12  05:53:28      0.89

In [14]:
## 1.6  Loading L7N1

In [15]:
phreatic_level_l7n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL7N1_portion.csv', )

In [16]:
print(phreatic_level_l7n1_28w_df.shape)
phreatic_level_l7n1_28w_df.head()

(4880, 3)

      Fecha.5    Hora.5  PORVL7N1
0  2018-01-12  01:21:29      1.16
1  2018-01-12  02:21:34      1.16
2  2018-01-12  03:21:25      1.16
3  2018-01-12  04:21:40      1.16
4  2018-01-12  05:21:40      1.16

In [17]:
## 1.7  Loading L8N1

In [18]:
phreatic_level_l8n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL8N1_portion.csv', )

print(phreatic_level_l8n1_28w_df.shape)
phreatic_level_l8n1_28w_df.head()

(4880, 3)

      Fecha.6    Hora.6  PORVL8N1
0  2018-01-12  01:27:48      1.19
1  2018-01-12  02:27:47      1.19
2  2018-01-12  03:27:46      1.18
3  2018-01-12  04:27:47      1.17
4  2018-01-12  05:27:46      1.17

In [19]:
## 1.8  Loading L9N1

In [20]:
phreatic_level_l9n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL9N1_portion.csv', )

print(phreatic_level_l9n1_28w_df.shape)
phreatic_level_l9n1_28w_df.head()

(4880, 3)

      Fecha.7    Hora.7  PORVL9N1
0  2018-01-12  01:55:11      1.16
1  2018-01-12  02:55:14      1.16
2  2018-01-12  03:55:14      1.16
3  2018-01-12  04:55:15      1.15
4  2018-01-12  05:55:16      1.16

In [21]:
## 1.9  Loading L10N1

In [22]:
phreatic_level_l10n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL10N1_portion.csv', )

print(phreatic_level_l10n1_28w_df.shape)
phreatic_level_l10n1_28w_df.head()

(4880, 3)

      Fecha.8    Hora.8  PORVL10N1
0  2018-01-12  01:58:38       1.05
1  2018-01-12  02:58:40       1.04
2  2018-01-12  03:58:40       1.04
3  2018-01-12  04:58:41       1.03
4  2018-01-12  05:58:43       1.03

In [23]:
## 1.10  Loading L13N1

In [24]:
phreatic_level_l13n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL13N1_portion.csv', )

print(phreatic_level_l13n1_28w_df.shape)
phreatic_level_l13n1_28w_df.head()

(4880, 3)

      Fecha.9    Hora.9  PORVL13N1
0  2018-01-12  01:59:15       1.14
1  2018-01-12  02:59:16       1.14
2  2018-01-12  03:59:16       1.13
3  2018-01-12  04:59:17       1.13
4  2018-01-12  05:59:15       1.12

In [25]:
## 1.11  Loading L14N1

In [26]:
phreatic_level_l14n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL14N1_portion.csv', )

print(phreatic_level_l14n1_28w_df.shape)
phreatic_level_l14n1_28w_df.head()

(4880, 3)

     Fecha.10   Hora.10  PORVL14N1
0  2018-01-12  01:04:02       1.36
1  2018-01-12  02:04:02       1.36
2  2018-01-12  03:04:02       1.36
3  2018-01-12  04:04:00       1.36
4  2018-01-12  05:04:00       1.36

In [27]:
## 1.12  Loading L15N1

In [28]:
phreatic_level_l15n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL15N1_portion.csv', )

print(phreatic_level_l15n1_28w_df.shape)
phreatic_level_l15n1_28w_df.head()

(4880, 3)

     Fecha.11   Hora.11  PORVL15N1
0  2018-01-12  01:09:11       1.21
1  2018-01-12  02:09:12       1.21
2  2018-01-12  03:09:31       1.19
3  2018-01-12  04:09:14       1.17
4  2018-01-12  05:09:12       1.16

In [29]:
## 1.13 Loading L16N1

In [30]:
phreatic_level_l16n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL16N1_portion.csv', )

print(phreatic_level_l16n1_28w_df.shape)
phreatic_level_l16n1_28w_df.head()

(4880, 3)

     Fecha.12   Hora.12  PORVL16N1
0  2018-01-12  01:08:36       0.99
1  2018-01-12  02:08:37       0.99
2  2018-01-12  03:08:34       0.99
3  2018-01-12  04:08:33       0.98
4  2018-01-12  05:08:37       0.97

In [31]:
## 1.14 Loading L16N2

In [32]:
phreatic_level_l16n2_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL16N2_portion.csv', )

print(phreatic_level_l16n2_28w_df.shape)
phreatic_level_l16n2_28w_df.head()

(4880, 3)

     Fecha.13   Hora.13  PORVL16N2
0  2018-01-12  01:48:16       1.55
1  2018-01-12  02:48:17       1.56
2  2018-01-12  03:48:19       1.55
3  2018-01-12  04:48:23       1.54
4  2018-01-12  05:48:19       1.53

In [33]:
## 1.15 Loading L18N1

In [34]:
phreatic_level_l18n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL18N1_portion.csv', )

print(phreatic_level_l18n1_28w_df.shape)
phreatic_level_l18n1_28w_df.head()

(4880, 3)

     Fecha.14   Hora.14  PORVL18N1
0  2018-01-12  01:43:21       1.01
1  2018-01-12  02:43:21       1.01
2  2018-01-12  03:43:19       1.01
3  2018-01-12  04:43:20       1.01
4  2018-01-12  05:43:21       1.01

In [35]:
## 1.16 Loading L18N2

In [36]:
phreatic_level_l18n2_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL18N2_portion.csv', )

print(phreatic_level_l18n2_28w_df.shape)
phreatic_level_l18n2_28w_df.head()

(4880, 3)

     Fecha.15   Hora.15  PORVL18N2
0  2018-01-12  01:12:00       0.84
1  2018-01-12  02:12:00       0.84
2  2018-01-12  03:12:00       0.84
3  2018-01-12  04:12:04       0.85
4  2018-01-12  05:11:59       0.85

In [37]:
## 1.17 Loading L18N3

In [38]:
phreatic_level_l18n3_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL18N3_portion.csv', )

print(phreatic_level_l18n3_28w_df.shape)
phreatic_level_l18n3_28w_df.head()

(4880, 3)

     Fecha.16   Hora.16  PORVL18N3
0  2018-01-12  01:55:20       1.27
1  2018-01-12  02:55:21       1.27
2  2018-01-12  03:55:19       1.27
3  2018-01-12  04:55:19       1.27
4  2018-01-12  05:55:16       1.27

In [39]:
## 1.18 Loading L18N4

In [40]:
phreatic_level_l18n4_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL18N4_portion.csv', )

print(phreatic_level_l18n4_28w_df.shape)
phreatic_level_l18n4_28w_df.head()

(4880, 3)

     Fecha.17   Hora.17  PORVL18N4
0  2018-01-12  01:42:07       1.08
1  2018-01-12  02:42:19       1.08
2  2018-01-12  03:42:00       1.08
3  2018-01-12  04:42:01       1.08
4  2018-01-12  05:42:01       1.08

In [41]:
## 1.19 Loading L21N1

In [42]:
phreatic_level_l21n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL21N1_portion.csv', )

print(phreatic_level_l21n1_28w_df.shape)
phreatic_level_l21n1_28w_df.head()

(4880, 3)

     Fecha.18   Hora.18  PORVL21N1
0  2018-01-12  01:08:03       1.55
1  2018-01-12  02:08:03       1.54
2  2018-01-12  03:08:07       1.54
3  2018-01-12  04:08:03       1.54
4  2018-01-12  05:08:03       1.54

In [43]:
## 1.20 Loading L21N2

In [44]:
phreatic_level_l21n2_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL21N2_portion.csv', )

print(phreatic_level_l21n2_28w_df.shape)
phreatic_level_l21n2_28w_df.head()

(4880, 3)

     Fecha.19   Hora.19  PORVL21N2
0  2018-01-12  01:32:41       1.25
1  2018-01-12  02:32:33       1.25
2  2018-01-12  03:32:32       1.25
3  2018-01-12  04:32:31       1.24
4  2018-01-12  05:32:32       1.24

In [45]:
## 1.21 Loading L21N3

In [46]:
phreatic_level_l21n3_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL21N3_portion.csv', )

print(phreatic_level_l21n3_28w_df.shape)
phreatic_level_l21n3_28w_df.head()

(4880, 3)

     Fecha.20   Hora.20  PORVL21N3
0  2018-01-12  01:07:54       1.01
1  2018-01-12  02:07:56       1.02
2  2018-01-12  03:07:55       1.02
3  2018-01-12  04:08:50       1.02
4  2018-01-12  05:07:50       1.02

In [47]:
## 1.22 Loading L21N4

In [48]:
phreatic_level_l21n4_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL21N4_portion.csv', )

print(phreatic_level_l21n4_28w_df.shape)
phreatic_level_l21n4_28w_df.head()

(4880, 3)

     Fecha.21   Hora.21  PORVL21N4
0  2018-01-12  01:39:04       1.01
1  2018-01-12  02:39:06       1.01
2  2018-01-12  03:39:06       1.01
3  2018-01-12  04:39:06       1.01
4  2018-01-12  05:39:24       1.01

In [49]:
## 1.23 Loading L21N5

In [50]:
phreatic_level_l21n5_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL21N5_portion.csv', )

print(phreatic_level_l21n5_28w_df.shape)
phreatic_level_l21n5_28w_df.head()

(4880, 3)

     Fecha.22   Hora.22  PORVL21N5
0  2018-01-12  01:33:02       0.96
1  2018-01-12  02:33:04       0.97
2  2018-01-12  03:33:05       0.94
3  2018-01-12  04:33:05       0.93
4  2018-01-12  05:33:06       0.92

In [51]:
## 1.24 Loading L24N1

In [52]:
phreatic_level_l24n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL24N1_portion.csv', )

print(phreatic_level_l24n1_28w_df.shape)
phreatic_level_l24n1_28w_df.head()

(4880, 3)

     Fecha.23   Hora.23  PORVL24N1
0  2018-01-12  01:23:18       0.86
1  2018-01-12  02:23:17       0.85
2  2018-01-12  03:23:18       0.97
3  2018-01-12  04:23:19       0.96
4  2018-01-12  05:23:19       0.95

In [53]:
## 1.25 Loading L24N2

In [54]:
phreatic_level_l24n2_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL24N2_portion.csv', )

print(phreatic_level_l24n2_28w_df.shape)
phreatic_level_l24n2_28w_df.head()

(4880, 3)

     Fecha.24   Hora.24  PORVL24N2
0  2018-01-12  01:07:28       1.31
1  2018-01-12  02:07:28       1.31
2  2018-01-12  03:07:29       1.31
3  2018-01-12  04:07:27       1.31
4  2018-01-12  05:07:27       1.31

In [ ]:
phreatic_level_l2n1_28w_df
phreatic_level_l2n2_28w_df
phreatic_level_l4n1_28w_df
phreatic_level_l5n1_28w_df
phreatic_level_l6n1_28w_df
phreatic_level_l7n1_28w_df
phreatic_level_l8n1_28w_df
phreatic_level_l9n1_28w_df
phreatic_level_l10n1_28w_df
phreatic_level_l13n1_28w_df
phreatic_level_l14n1_28w_df
phreatic_level_l15n1_28w_df
phreatic_level_l16n1_28w_df
phreatic_level_l16n2_28w_df
phreatic_level_l18n1_28w_df
phreatic_level_l18n2_28w_df
phreatic_level_l18n3_28w_df
phreatic_level_l18n4_28w_df
phreatic_level_l21n1_28w_df
phreatic_level_l21n2_28w_df
phreatic_level_l21n3_28w_df
phreatic_level_l21n4_28w_df
phreatic_level_l21n5_28w_df
phreatic_level_l24n1_28w_df
phreatic_level_l24n2_28w_df

In [71]:
phreatic_level_l2n1_28w_df.head()

        Fecha      Hora  PORVL2N1
0  2018-01-12  01:37:47      0.65
1  2018-01-12  02:37:45      0.65
2  2018-01-12  03:37:50      0.64
3  2018-01-12  04:37:44      0.63
4  2018-01-12  05:37:45      0.61

In [72]:
for i in range(1,25):
    if (i==2):
        # We turn to datetime the Fecha column values 
        # https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html
        phreatic_level_l{}n{}_28w_df['Fecha'].format(i,i-1) = pd.to_datetime(phreatic_level_l'{}'n'{}'_28w_df['Fecha'].format(i,i-1))
print("First dataset generated")

SyntaxError: invalid syntax (<ipython-input-72-1f6ad7811399>, line 5)

In [109]:
for i in range(1,25):
    if (i==2):
        phreatic_level_l2n2_28w_df = phreatic_level_l2n2_28w_df.rename(columns={
            'Fecha.1':'Fecha',
            'Hora.1':'Hora'
        })
    if (i==4):
        phreatic_level_l4n1_28w_df = phreatic_level_l4n1_28w_df.rename(columns={
            'Fecha.2':'Fecha',
            'Hora.2':'Hora'
        })
    if (i==5):
        phreatic_level_l5n1_28w_df = phreatic_level_l5n1_28w_df.rename(columns={
            'Fecha.3':'Fecha',
            'Hora.3':'Hora'
        })
    if (i==6):
        phreatic_level_l6n1_28w_df = phreatic_level_l6n1_28w_df.rename(columns={
            'Fecha.4':'Fecha',
            'Hora.4':'Hora'
        })
    if (i==7):
        phreatic_level_l7n1_28w_df = phreatic_level_l7n1_28w_df.rename(columns={
            'Fecha.5':'Fecha',
            'Hora.5':'Hora'
        })
    if (i==8):
        phreatic_level_l8n1_28w_df = phreatic_level_l8n1_28w_df.rename(columns={
            'Fecha.6':'Fecha',
            'Hora.6':'Hora'
        })
    if (i==9):
        phreatic_level_l9n1_28w_df = phreatic_level_l9n1_28w_df.rename(columns={
            'Fecha.7':'Fecha',
            'Hora.7':'Hora'
        })
    if (i==10):
        phreatic_level_l10n1_28w_df = phreatic_level_l10n1_28w_df.rename(columns={
            'Fecha.8':'Fecha',
            'Hora.8':'Hora'
        })
    if (i==13):
        phreatic_level_l13n1_28w_df = phreatic_level_l13n1_28w_df.rename(columns={
            'Fecha.9':'Fecha',
            'Hora.9':'Hora'
        })
    if (i==14):
        phreatic_level_l14n1_28w_df = phreatic_level_l14n1_28w_df.rename(columns={
            'Fecha.10':'Fecha',
            'Hora.10':'Hora'
        })
    if (i==15):
        phreatic_level_l15n1_28w_df = phreatic_level_l15n1_28w_df.rename(columns={
            'Fecha.11':'Fecha',
            'Hora.11':'Hora'
        })
    if (i==16):
        # To N1
        phreatic_level_l16n1_28w_df = phreatic_level_l16n1_28w_df.rename(columns={
            'Fecha.12':'Fecha',
            'Hora.12':'Hora'
        })
        # To N2
        phreatic_level_l16n2_28w_df = phreatic_level_l16n2_28w_df.rename(columns={
            'Fecha.13':'Fecha',
            'Hora.13':'Hora'
        })
    if (i==18):
        # To N1
        phreatic_level_l18n1_28w_df = phreatic_level_l18n1_28w_df.rename(columns={
            'Fecha.14':'Fecha',
            'Hora.14':'Hora'
        })
        # To N2
        phreatic_level_l18n2_28w_df = phreatic_level_l18n2_28w_df.rename(columns={
            'Fecha.15':'Fecha',
            'Hora.15':'Hora'
        })
        # To N3
        phreatic_level_l18n3_28w_df = phreatic_level_l18n3_28w_df.rename(columns={
            'Fecha.16':'Fecha',
            'Hora.16':'Hora'
        })
        # To N4
        phreatic_level_l18n4_28w_df = phreatic_level_l18n4_28w_df.rename(columns={
            'Fecha.17':'Fecha',
            'Hora.17':'Hora'
        })
    if (i==21):
        # To N1
        phreatic_level_l21n1_28w_df = phreatic_level_l21n1_28w_df.rename(columns={
            'Fecha.18':'Fecha',
            'Hora.18':'Hora'
        })
        # To N2
        phreatic_level_l21n2_28w_df = phreatic_level_l21n2_28w_df.rename(columns={
            'Fecha.19':'Fecha',
            'Hora.19':'Hora'
        })
        # To N3
        phreatic_level_l21n3_28w_df = phreatic_level_l21n3_28w_df.rename(columns={
            'Fecha.20':'Fecha',
            'Hora.20':'Hora'
        })
        # To N4
        phreatic_level_l21n4_28w_df = phreatic_level_l21n4_28w_df.rename(columns={
            'Fecha.21':'Fecha',
            'Hora.21':'Hora'
        })
        # To N5
        phreatic_level_l21n5_28w_df = phreatic_level_l21n5_28w_df.rename(columns={
            'Fecha.22':'Fecha',
            'Hora.22':'Hora'
        })
    if (i==24):
        # To N1
        phreatic_level_l24n1_28w_df = phreatic_level_l24n1_28w_df.rename(columns={
            'Fecha.23':'Fecha',
            'Hora.23':'Hora'
        })
        # To N2
        phreatic_level_l24n2_28w_df = phreatic_level_l24n2_28w_df.rename(columns={
            'Fecha.24':'Fecha',
            'Hora.24':'Hora'
        })
print("Fechax columns renamed")

Fechax columns renamed

In [110]:
phreatic_level_l2n1_28w_df.columns.get_values()

array(['Fecha', 'Hora', 'PORVL2N1'], dtype=object)

In [111]:
phreatic_level_l2n2_28w_df.columns.get_values()

array(['Fecha', 'HOra', 'PORVL2N2'], dtype=object)

In [160]:
dfs = {
    'phreatic_level_l2n1_28w_df': phreatic_level_l2n1_28w_df,
    'phreatic_level_l2n2_28w_df': phreatic_level_l2n2_28w_df,
    # 'phreatic_level_l4n1_28w_df': phreatic_level_l4n1_28w_df,
    # 'phreatic_level_l5n1_28w_df': phreatic_level_l5n1_28w_df,
    # 'phreatic_level_l6n1_28w_df': phreatic_level_l6n1_28w_df,
    # 'phreatic_level_l7n1_28w_df': phreatic_level_l7n1_28w_df,
    # 'phreatic_level_l8n1_28w_df': phreatic_level_l8n1_28w_df,
    # 'phreatic_level_l9n1_28w_df': phreatic_level_l9n1_28w_df,
    # 'phreatic_level_l10n1_28w_df': phreatic_level_l10n1_28w_df,
    # 'phreatic_level_l13n1_28w_df': phreatic_level_l13n1_28w_df,
    # 'phreatic_level_l14n1_28w_df': phreatic_level_l14n1_28w_df,
    # 'phreatic_level_l15n1_28w_df': phreatic_level_l15n1_28w_df,
    # 'phreatic_level_l16n1_28w_df': phreatic_level_l16n1_28w_df,
    # 'phreatic_level_l16n2_28w_df': phreatic_level_l16n2_28w_df,
    # 'phreatic_level_l18n1_28w_df': phreatic_level_l18n1_28w_df,
    # 'phreatic_level_l18n2_28w_df': phreatic_level_l18n2_28w_df,
    # 'phreatic_level_l18n3_28w_df': phreatic_level_l18n3_28w_df,
    # 'phreatic_level_l18n4_28w_df': phreatic_level_l18n4_28w_df,
    # 'phreatic_level_l21n1_28w_df': phreatic_level_l21n1_28w_df,
    # 'phreatic_level_l21n2_28w_df': phreatic_level_l21n2_28w_df,
    # 'phreatic_level_l21n3_28w_df': phreatic_level_l21n3_28w_df,
    # 'phreatic_level_l21n4_28w_df': phreatic_level_l21n4_28w_df,
    # 'phreatic_level_l21n5_28w_df': phreatic_level_l21n5_28w_df,
    # 'phreatic_level_l24n1_28w_df': phreatic_level_l24n1_28w_df,
    # 'phreatic_level_l24n2_28w_df': phreatic_level_l24n2_28w_df  
    
}

In [149]:
phreatic_level_l2n1_28w_df.head()

       Fecha      Hora  PORVL2N1
0 2018-01-12  01:37:47      0.65
1 2018-01-12  02:37:45      0.65
2 2018-01-12  03:37:50      0.64
3 2018-01-12  04:37:44      0.63
4 2018-01-12  05:37:45      0.61

In [150]:
phreatic_level_l2n2_28w_df.head()

       Fecha      HOra  PORVL2N2
0 2018-01-12  01:58:22      0.71
1 2018-01-12  02:58:22      0.71
2 2018-01-12  03:58:23      0.71
3 2018-01-12  04:58:23      0.71
4 2018-01-12  05:58:24      0.71

In [154]:
phreatic_level_l24n2_28w_df.tail()

           Fecha      Hora  PORVL24N2
4875  2018-08-03  20:31:01       1.15
4876  2018-08-03  21:31:00       1.15
4877  2018-08-03  22:31:01       1.16
4878  2018-08-03  23:31:02       1.17
4879         NaN       NaN        NaN

In [161]:
for name, df in dfs.items():
    # We turn to datetime the Fecha column values 
    # https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html
    df['Fecha'] = pd.to_datetime(df['Fecha'])
    for i in range(1,24):
        if(i==2):
            # To N1
            phreatic_level_l2_n1_average_per_day = (df.groupby(pd.Grouper(key='Fecha', freq='D'))['PORVL{}N{}'.format(i,i-1)].mean().reset_index())
            phreatic_level_l2_n1_average_per_day.to_csv('L{}N{}_average_per-day.csv'.format(i,i-1), sep=',', header=True, index=False)
            print(phreatic_level_l2_n1_average_per_day.head())
            print(phreatic_level_l2_n1_average_per_day.tail())
            # To N2
            phreatic_level_l2_n2_average_per_day = (df.groupby(pd.Grouper(key='Fecha', freq='D'))['PORVL{}N{}'.format(i,i)].mean().reset_index())
            phreatic_level_l2_n2_average_per_day.to_csv('L{}N{}_average_per-day.csv'.format(i,i), sep=',', header=True, index=False)

       Fecha  PORVL2N1
0 2018-01-12  0.519130
1 2018-01-13  0.138750
2 2018-01-14  0.175417
3 2018-01-15  0.111667
4 2018-01-16  0.291250
         Fecha  PORVL2N1
199 2018-07-30  0.630417
200 2018-07-31  0.609583
201 2018-08-01  0.533333
202 2018-08-02  0.470833
203 2018-08-03  0.713333

KeyError: 'Column not found: PORVL2N2'

In [ ]:
# phreatic_level_lots_nodes_df = pd.concat([phreatic_level_Jan12_Apr12_lots_nodes_df, phreatic_level_Apr13_Aug03_lots_nodes_df])